
@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);  /* Levitácia 5px hore */
  }
  100% {
    transform: translateY(0);
  }
}

.animate-lep {
  animation: levitate 2.3s ease-in-out infinite; /* Levitácia sa bude opakovať nekonečne */
}